<div id="footer">
    <% if (login === true) { %>
    <a href="/"><i class="bi bi-house-door-fill"></i></a>

    <a href="/movies"><i class="bi bi-film"></i></a>

    <a href="/search"><i class="bi bi-search"></i></a>

    <a href="/tv_shows"><i class="bi bi-tv"></i></a>

    <a href="/profile"><i class="bi bi-person-circle"></i></a>
    <% } else { %>
    <a href="/"><i class="bi bi-house-door-fill"></i></a>

    <a href="/movies"><i class="bi bi-film"></i></a>

    <a href="/search"><i class="bi bi-search"></i></a>

    <a href="/tv_shows"><i class="bi bi-tv"></i></a>

    <a href="/login"><i class="bi bi-person-circle"></i></a>
    <% } %>
</div>