<%- include('partials/header') -%>

        <div id="content">
            <!--  About SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2>About Us</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus <br>
                    iusto quia provident maiores esse illo quo repudiandae <br>
                    rerum explicabo? Voluptatibus vel ipsam labore, <br>
                    recusandae vitae iste a adipisci quia ipsa.<br>
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus <br>
                    iusto quia provident maiores esse illo quo repudiandae <br>
                    rerum explicabo? Voluptatibus vel ipsam labore, <br>
                    recusandae vitae iste a adipisci quia ipsa.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus <br>
                    iusto quia provident maiores esse illo quo repudiandae <br>
                    rerum explicabo? Voluptatibus vel ipsam labore, <br>
                    recusandae vitae iste a adipisci quia ipsa.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus <br>
                    iusto quia provident maiores esse illo quo repudiandae <br>
                    rerum explicabo? Voluptatibus vel ipsam labore, <br>
                    recusandae vitae iste a adipisci quia ipsa.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus <br>
                    iusto quia provident maiores esse illo quo repudiandae <br>
                    rerum explicabo? Voluptatibus vel ipsam labore, <br>
                    recusandae vitae iste a adipisci quia ipsa.<br>
                </p>
            </div>            
        </div>

        
        <%- include('partials/footer') -%>

    </body>
</html>
        
