<%- include('partials/header') -%>
    <body>
        <div id="header">
            <h1>Movie App </h1>
        </div>

        <div id="content">
            <!--  FREE SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2>Free to Watch</h2>
                </div>
                <div class="movie-row" id="allFree">
                    <div class="loader"></div>
                </div>
            </div>            
        </div>

        
        <%- include('partials/footer') -%>
    </body>
</html>
        
