<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        <script src="movies.js"></script>
        <title>Movie Finder</title>
    </head>
    <body>
        <h1>Popular Movies</h1>
        <div id="movies">Loading movies...</div>

    </body>
</html>
        
