<%- include('partials/header') -%>

        <div id="content">
            <!--  POPULAR SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2>Popular Movies</h2>
                    <a href="/popular_movies" class="see-all">see all</a>
                </div>
                <div id="popular">
                    <div class="loader"></div>
                </div>
            </div>

            <!-- TRENDING SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2>Trending TV Shows</h2>
                    <a href="/popular_tv_shows" class="see-all">see all</a>
                </div>
                <div id="tvShows">
                    <div class="loader"></div>
                </div>
            </div>            
        </div>

        
        <%- include('partials/footer') -%>

    </body>
</html>
        
