<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Movie Finder</title>
        <link rel="stylesheet" href="/style.css">
        <script src="https://kit.fontawesome.com/2ebf54a5f4.js" crossorigin="anonymous"></script>
    </head>
    <body>
            <!-- HEADER -->
            <div id="header">
                <h1>Movie finder</h1>
            </div>

            

            <!-- <h2>Popular Movies <button><a href="/search">hadida</a></button></h2>
            <br> -->

            <!-- FOOTER -->
            <div id="footer">
                <a href="/"><i class="fa-solid fa-house"></i></a>

                <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>

                <a href="/movies"><i class="fa-solid fa-film"></i></a>

                <a href="/tv_shows"><i class="fa-solid fa-tv"></i></a>

                <a href="/settings"><i class="fa-solid fa-gear"></i></a>
            </div>

    </body>
</html>