<%- include('partials/header') -%>

<a href="javascript:history.back()" class="back-arrow"><i class="bi bi-arrow-left-short"></i></a>

        <div id="content">
            <!--  POPULAR SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2 class="watchlist-header">Popular Movies</h2>
                </div>
                <div class="movie-row" id="allPopular">
                    <div class="loader"></div>
                </div>
            </div>            
        </div>

        
        <%- include('partials/footer') -%>

    </body>
</html>
        
