<%- include('partials/header') -%>

    <body>
        <div id="header">
            <h1>Movie App </h1>
        </div>

          <div id="content">
            <center>
              <div class="image">
                <img src="/images/default.jpg">
              </div>
            </center>
            
            <p>
              <i class="bi bi-file-person-fill"></i> <span>change profile pic
                <label for="file-path">
                  <i class="bi bi-pencil-square"></i>
                </label>

                <input type="file" accept="image/jpeg, image/png, image/jpg">
              </span>
            </p>
            
            <p>
              <i class="bi bi-list-ul"></i> <span>your lists (move to nav if logged in)</span>
            </p>
            
            <p><i class="bi bi-info-circle-fill"></i> <span>about</span></p>

            <p><i class="bi bi-box-arrow-right"></i> <span>log out</span></p>
                       
          </div>  
        

        
        <%- include('partials/footer') -%>
    </body>
</html>
        
