<%- include('partials/header') -%>
  <div id="content">
    <center>
      <div class="image">
        <img id="profileImage" src="/images/default.jpg">
      </div>
    </center>
    
    <p>
      <label for="file-path">
        <i class="bi bi-pencil-square"></i> <span>change your profile pic</span>
      </label>
      <input type="file" accept="image/jpeg, image/png, image/jpg" id="file-path" class="user-file">
    </p>

    <p>
      <i class="bi bi-list-ul"></i> <a class="spacing" href="/edit-profile">Edit Profile</a>
    </p>
    
    <p>
      <i class="bi bi-list-ul"></i> <a class="spacing" href="/reviews">Reviews</a>
    </p>
    
    <p><i class="bi bi-box-arrow-right"></i> <a class="spacing" href="/logout">log out</a></p>
                
  </div>  


<%- include('partials/footer') -%>
<script src="/app/profile.js"></script>
</body>
</html>
        
