<%- include('partials/header') -%>

<div class="watchlist-container">
    <h1 class="watchlist-header">My Reviews</h1>
    
    <div id="reviews-content">
        <!-- JS will insert the cards here -->
    </div>
</div>

<script src="/reviews.js"></script>

<%- include('partials/footer') -%>
