<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Movie Finder</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <center>
            <h1>Movie Finder</h1>
            <form action="/search" method="get">
            <input name="q" placeholder="Search for a movie, genre, actor..." required />
            <button>Search</button>
            </form>
        </center>
    </body>
</html>
