<%- include('partials/header') -%>

    <body>
        <div id="header">
            <h1>Movie App </h1>
        </div>

        <div id="content">
            <form action="/search" method="get">
                <input name="q" placeholder="Search for a movie, genre, actor..." required />
                <button>Search</button>
                <a href="/">lalala</a>
            </form>
        </div>

        <%- include('partials/footer') -%>
    </body>
</html>
