<%- include('partials/header') -%>

        <div id="content">
            <!--  POPULAR SECTION -->
            <div class="section">
                <div class="section-header">
                    <h2>TV Shows</h2>
                </div>
                <div class="movie-row" id="tv_shows">
                    <div class="loader"></div>
                </div>
            </div>            
        </div>

        
        <%- include('partials/footer') -%>

    </body>
</html>
        
