/* font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  --bg: #222;
  --text: #dedede;
  --dark: #121212;

  --displayfont: "DM Serif Text", serif;
}

a {
  color: var(--text);
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans";
  line-height: 1.5;
  background-color: var(--bg);
  color: white;
} 


#header {
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark);
}
#header h1 {
  text-align: left;
  padding-left: 1em;
  font-family: var(--displayfont);
  text-transform: uppercase;
  letter-spacing: 5px;
}

#footer {
  position: fixed;
  padding: 1em;
  bottom: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  background-color: var(--dark);
}
